.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.form {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.list {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 500px;
}

.item {
    word-wrap: break-word;
    max-width: 500px;
    margin: auto;
    padding: 25px;

}

.nav-links {
    display: flex;
}

.nav-links a {
    margin-right: 1rem;
}

.elem-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
}

.elem-info h3 {
    flex-grow: 1;
    margin: 0;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}


.teacher-actions {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kids-list {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

.kids-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.kids-list-item span {
    font-size: 18px;
}

.kids-list-container {
    max-width: 800px;
    margin: 0 auto;
    overflow-y: auto;
}

.button-container {
    display: flex;
    justify-content: space-between;
}


.tile {
    flex-basis: calc(50% - 20px);
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 1500px;
}


th, td {
    border: 1px solid black;
    padding: 8px;
    background-color: #f2f2f2;
    text-align: center;
}

.tile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

th {
    background-color: #ddd;
    color: #333;
    font-weight: bold;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
